* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body, .timeTableBody {
    margin: 0;
    background: white;
    min-width: 320px;
    min-height: 100%;
}
header {
    background: white;
    text-align: center;
}
header a {
    text-decoration: none;
    outline: none;
    display: block;
    transition: .3s ease-in-out;
}
.central{
    background: crimson;
    text-align: center;
    float: left;
    width: 25%;
    height: auto;
}
.upper{
    background: #126984;
    text-align: right;
    color: #273037;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50px;
    
}
.upper h3{
    color: #f3f4f7;
    margin: 15px 0;
    padding-right: 35px;
    font-weight: normal;
    line-height: 1;
    transition: width 0.4s ease-out;
}
.upper a{
    font-size: 18px;
    color: #f3f4f7;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .upper {
        height: 45px;
    }
    .upper a {
        font-size: 16px;
    }
    .upper h3 {
        margin: 12.5px 0;
    }
}

.upper a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #f3f4f7; /*задаём цвет линии*/
    content: "";
    transition: width 0.4s ease-out; /*задаём время анимации*/
}
.upper a:hover:after,
.upper a:focus:after {
    width: 100%;
}

@media print {
    header, .upper {
        display: none;
    }
} 

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px){
    nav ul {
        justify-content: center;
        flex-direction: column;
    }
}

.topmenu:after {
    content: "";
    /*display: flex;*/
    clear: both;
}

.topmenu > li {
    width: 15%;
    min-width: 187px;
    float: left;
    /*display: block;*/
    text-align: center;
    position: relative;
    
}

@media screen and (max-width: 768px) {
    .topmenu > li {
        width: 100%;
    }
}

.topmenu > li > a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #126984;
    padding: 15px 30px;
}

@media screen and (max-width: 768px) {
    .topmenu > li > a {
        font-size: 16px;
    }
}

.topmenu li a:hover {
    background: #eff3f9;
}

.submenu-link-li ul {
    display: flex;
    flex-direction: column;
}

.submenu-link-li li a{
    font-size: 16px;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.submenu-link-li li a:after{
    display: block;
    position: absolute;
    margin-top: -10px;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #f3f4f7;
    content: "";
    transition: width 0.4s ease-out; /*задаём время анимации*/
}
.submenu-link-li li a:hover:after,
.submenu-link-li li a:focus:after {
    width: 25%;
}
.submenu-link-li li a:hover{
    background: #126984;
}

.submenu-link:after {
    font-family: 'Font Awesome 5 Free';
    content: '\f107';
    color: inherit;
    margin-left: 10px;
}
.submenu {
    background: #126984;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 100%;
    opacity: 0;
    text-align: center;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.submenu a {
    color: white;
    text-align: center;
    padding: 12px 15px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}

.block{
    font-size: 22px;
    text-align: center;
    width: 75%;
    background: #eff3f9;
    text-decoration: none;
    color: #126984;
    border: 1px solid #e8edf4;
    margin: 28px auto 35px;
}

@media screen and (max-width: 480px){
    .block {
        font-size: 18px;
        margin: 15px auto;
    }
}

.block:after{
    position: absolute;
    left: 0;
    width: 0;
    background-color: #b99d61;
    transition: width 0.3s ease-out;
}
.block:hover:after,
.block:focus:after{
    width: 100%;
}
.block a{
    font-size: 22px;
    font-weight: bold;
    color: #126984;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

@media screen and (max-width: 480px){
    .block a {
        font-size: 18px;
        margin: 0 auto;
    }
}

.block a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #126984; /*задаём цвет линии*/
    content: "";
    transition: width 0.4s ease-out; /*задаём время анимации*/
}
.block a:hover:after,
.block a:focus:after {
    width: 100%;
}

.block4{
    font-size: 22px;
    text-align: center;
    width: 10%;
    text-decoration: none;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.6%;
}

.block4:after{
    position: absolute;
    left: 0;
    width: 0;
    background-color: #b99d61;
    transition: width 0.3s ease-out;
}
.block4:hover:after,
.block4:focus:after{
    width: 100%;
}
.block4 a{
    font-size: 18px;
    color: #126984;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}


.aboutblockleft{
    font-size: 18px;
    width: 15%;
    margin-left: 20%;
    background: #eff3f9;
    color: #126984;
    text-align: right;
    padding-right: 2%;
    padding-top: 0.2%;
}

.aboutblockright{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    background: #eff3f9;
    color: #126984;
    width: 45%;
    text-align: left;
    border-bottom: 4px solid #e8edf4;
    padding-left: 2%;
    padding-top: 0.2%;
}
.aboutblockright ul {
    margin: 10px;
}
.aboutblockright ul p {
    margin: 5px 0;
}
.aboutblockright a{
    font-size: 18px;
    font-weight: bold;
    color: #126984;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.aboutblockright a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #126984; /*задаём цвет линии*/
    content: "";
    transition: width 0.4s ease-out; /*задаём время анимации*/
}
.aboutblockright a:hover:after,
.aboutblockright a:focus:after {
    width: 100%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px 0 0 ;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin: 0 0 25px!important;
}

@media screen and (max-width: 480px) {
    .swiper-button-next, .swiper-button-prev {
        height: 27px!important;
    }

    .swiper-container {
        margin: 10px 0 0;
    }
}

.swiper-slide {
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
div.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23126984'%2F%3E%3C%2Fsvg%3E");
    left: 1.05%;
    right: auto;
    margin-top: 0.05%;
}

div.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23126984'%2F%3E%3C%2Fsvg%3E");
    right: 1.05%;
    left: auto;
    margin-top: 0.05%;
}

@media screen and (max-width: 480px){
    .swiper-slide img {
        width: 300px;
        height: 330px;
    }
}

.grecaptcha-badge {
    display: none;
}

#teacherTableBlock {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.print-doc {
    margin: 15px auto 0;
    font-size: 18px;
    color: darkgray;
    text-decoration: none;
}

.fancy {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.fancy form {
    width: 100%;
}

@media print {
    .fancy, .print-doc {
        display: none;
    }
}

#fancy-inputs {
    display: flex;
    justify-content: center;
    width: 45%;
    min-width: 365px;
    height: 40px;
    margin: 50px auto 0 auto;
}

@media screen and (max-width: 480px){
    #fancy-inputs {
        min-width: 280px;
    }
}

#fancy-inputs label.input {
    width: 100%;
    min-width: 280px;
    height: 40px;
    margin: 0 0;
    position: relative;
}

#fancy-inputs label.input span {
    width: 100%;
    min-width: 280px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

@media screen and (max-width: 480px) {
    #fancy-inputs label.input, #fancy-inputs label.input span {
        min-width: 205px;
    }
}

#fancy-inputs label.input span span{
    position: absolute;
    top: 0;
    z-index: 1;
    font-size: 18px;
    color: #ccc;
    text-indent: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

@media screen and (max-width: 768px) {
    #fancy-inputs label.input span span {
        font-size: 16px;
    }
}

#fancy-inputs label.input span:before{
     content: '';
     width: 0;
     height: 3px;
     background-color: #126984;
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: 3;
     transition: 0.3s;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
 }

#fancy-inputs label.input span:after{
     content: '';
     width: 0;
     height: 3px;
     background-color: #126984;
     position: absolute;
     bottom: 0;
     right: 0;
     z-index: 3;
     transition: 0.3s;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
}

#fancy-inputs input {
    width: 100%;
    min-width: 280px;
    height: 40px;
    padding: 0 10px;
    border: 0;
    border-bottom: 2px solid #cccccc;
    border-radius: 0;
    background-color: transparent;
    color: #126984;
    cursor: text;
    font-size: 18px;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 768px) {
    #fancy-inputs input {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    #fancy-inputs input {
        min-width: 205px;
    }
}

#fancy-inputs input:focus{
     outline: 0;
}

#fancy-inputs input.white{
     background-color: white;
}

#fancy-inputs input:focus + span span{
    cursor: initial;
    position: absolute;
    top: -35px;
    color: #126984;
}

#fancy-inputs input:focus + span:before{
     width: 51%;
}

#fancy-inputs input:focus + span:after{
     width: 51%;
}

#fancy-inputs button {
    position: relative;
    width: 5%;
    min-width: 65px;
    height: 40px;
    margin: 0 10px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    border: 0;
    background-color: #126984;
    color: white;
    transition: 0.3s;
    outline: none;
    box-shadow: -2px 5px 10px lightgray;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    #fancy-inputs button {
        min-width: 55px;
        margin: 0 0 0 10px;
    }
}

#fancy-inputs button:hover {
    background-color: #253e5a;
    box-shadow: 0 2px 5px darkgray;
}

#fancy-inputs span i {
    line-height: inherit;
    color: #cccccc;
}

#fancy-inputs label.input .close {
    position: absolute;
    font-size: 16px;
    z-index: 3;
    left: calc(100% - 50px);
    color: #aaa;
    cursor: pointer;
    display: none;
}
#fancy-inputs label.input .close.visible {
    display: flex;
    width: 50px;
    min-width: 50px;
    justify-content: center;
}

.dialog {
    width: 100%;
    display: none;
    max-height: 330px;
    overflow-x: auto;
    overflow-y: scroll;
    border: 1px solid #e8edf4;
    border-top: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    z-index: 3;
}

.dialog.open {
    display: flex;
    flex-direction: column;
}

.dialog div {
    padding: 20px 10px;
    min-height: 55px;
    font-size: 13px;
    color: #126984;
    cursor: pointer;
    transition: all 0.2s;
    background: white;
}

@media screen and (max-width: 768px) {
    .dialog div {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .dialog div {
        font-size: 11px;
    }
}

.dialog div:hover {
    background: #eff3f9;
}

.radio-inputs {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

#fancy-radio {
    display: flex;
    width: 45%;
    min-width: 365px;
    margin: 10px 0 0 0;
}

#fancy-radio input {
    display: none;
}

@media screen and (max-width: 480px) {
    #fancy-radio {
        min-width: 280px;
        justify-content: center;
    }
}

#fancy-radio label.radio.groups {
    float: left;
    width: 90px;
    line-height: 30px;
    margin: 0 10px 0 10px;
    color: #126984;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    clear: both;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

#fancy-radio label.radio {
    float: left;
    width: 150px;
    line-height: 30px;
    color: #126984;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    clear: both;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

@media screen and (max-width: 768px) {
    #fancy-radio label.radio, #fancy-radio label.radio.groups {
        font-size: 12px;
    }
}

#fancy-radio label.radio:before{
     content: '';
     float: left;
     width: 29px;
     height: 29px;
     margin: 0 5px 0 0;
     background-color: #e8edf4;
     border-radius: 100%;
     font-size: 22px;
     text-indent: 40px;
}

#fancy-radio label.radio:after{
     content: '';
     width: 5px;
     height: 5px;
     background-color: #126984;
     border-radius: 100%;
     position: absolute;
     top: 12px;
     left: 12px;
     opacity: 0;
     transition: 0.2s;
     -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
}

#fancy-radio label.radio.selected:after{
     width: 15.5px;
     height: 15.5px;
     top: 7px;
     left: 7px;
     opacity: 1;
}

#fancy-radio label.radio:hover{
     text-indent: 5px;
}

/*Tables*/
.tableplace {
    width: 480px;
    height: auto;
    margin: 50px 50px;
    min-width: 480px;
}

@media screen and (max-width: 1800px){
    .tableplace {
        width: 35%;
        height: 550px;
        margin: 50px 5%;
        min-width: 480px;
    }
}

@media screen and (max-width: 1220px){
    .tableplace {
        width: 55%;
        height: auto;
        margin: 50px 5%;
        min-width: 480px;
    }
}

@media screen and (max-width: 768px){
    .tableplace {
        min-width: 480px;
        margin: 50px 10px;
    }
}

@media screen and (max-width: 480px){
    .tableplace {
        min-width: 320px;
        max-width: 320px;
        margin: 50px 10px;
    }
}

@media screen and (max-width: 480px) {
    .tableplace tr {
        max-width: 320px;
    }
}

.tables {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tables table {
    font-size: 14px;
    border-spacing: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 5px 10px lightgray;
}
.tables h4 {
    background: #e8edf4;
    color: #126984;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0 0 0 0;
    box-shadow: 0 5px 10px lightgray;
    font-size: 18px;
}

@media screen and (max-width: 1220px){
    .tables h4 {
        padding: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 480px){
    .tables h4 {
        font-size: 16px;
    }
    .tables table, .tables tbody {
        min-width: 320px;
    }
}

.tables td {
    color: #126984;
    cursor: pointer;
}

.info:hover, .info1:hover, .info:hover + .place, .info1:hover + .place1, .info1:hover + .place2 {
    background: #f5f5f5;
}

.parityNowInfo {
    margin-top: 30px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.parityNowInfo .parityNow {
    margin: auto 0;
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    color: #126984;
}

@media print {
    .parityNowInfo .parityNow {
        color: black;
    }
}

@media screen and (max-width: 768px) {
    .parityNowInfo .parityNow {
        width: 100%;
        font-size: 18px;
        justify-content: center;
    }
}

.parityNowInfo .parityNowTeacher {
    margin: auto 0;
    display: flex;
    width: 350px;
    min-width: 350px;
    height: 100%;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #126984;
}

.time {
    width: 15%;
    background: white;
    border-bottom: 2px solid #e8edf4;
}

.time p {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 12px;
}

@media screen and (max-width: 1220px){
    .time {
        width: 12.5%;
        min-width: 45px;
    }
}

@media screen and (max-width: 480px) {
    .time p{
         font-size: 10.2px;
    }
}

.lection {
    width: 2%;
    background: #eff3f9;
    border-bottom: 2px solid #e8edf4;
}

.lection-yes {
    width: 2%;
    background: #126984;
    border-bottom: 2px solid #e8edf4;
}

@media screen and (max-width: 1220px){
    .lection {
        width: 1%;
        min-width: 9px;
    }

    .lection-yes {
        width: 1%;
        min-width: 9px;
    }
}

@media screen and (max-width: 768px) {
    .lection, .lection-yes {
        width: 0.5%;
        min-width: 4.5px;
    }
}

.info {
    width: 68%;
    max-height: 67.75px;
    position: relative;
    background: white;
    font-size: 12px;
    border-bottom: 2px solid #e8edf4;
}

.info p {
    text-align: left;
    padding-left: 2%;
    font-size: 12px;
    margin: 7px 0;
}



.info a {
    font-size: 11px;
    color: #126984;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.info a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длину линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: #126984; /*задаём цвет линии*/
    content: "";
    transition: width 0.4s ease-out; /*задаём время анимации*/
}
.info a:hover:after,
.info a:focus:after {
    width: 100%;
}

.ksrsLesson {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: lightgray;
}

.info1 {
    width: 34%;
    max-height: 67.75px;
    background: white;
    font-size: 12.8px;
    border-bottom: 2px solid #e8edf4;
}

.info1 p {
    text-align: left;
    padding-left: 2%;
    font-size: 12px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.info1 span {
    width: 100px;
    padding-left: 20px;
}

.info .groupsList, .info1 .groupsList {
    text-align: left;
    padding-left: 2%;
    font-size: 11px;
    margin: 7px 0;
}

.info1 a {
    font-size: 11px;
    color: #126984;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.info1 a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длину линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: #126984; /*задаём цвет линии*/
    content: "";
    transition: width 0.4s ease-out; /*задаём время анимации*/
}
.info1 a:hover:after,
.info1 a:focus:after {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .info p, .info1 p{
        font-size: 10.2px;
    }

    .info a, .info1 a {
        font-size: 9.4px;
    }
}

.place, .place1, .place2 {
    width: 15%;
    background: white;
    font-size: 11px;
    border-bottom: 2px solid #e8edf4;
}

.place1 {
    width: 7.5%;
    border-right: 2px solid #e8edf4;
}

.place2 {
    width: 7.5%;
}

.place p, .place1 p, .place2 p {
    padding: 0 2.5px;
}

@media screen and (max-width: 480px) {
    .place, .place1, .place2 {
        font-size: 9.4px;
    }
}

.bottom {
    display: block;
    width: 100%;
    height: 30px;
    bottom: 0;
}

@media print {
    .bottom {
        display: none;
    }
}

.modal_form {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background: white;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .modal_form {
        width: 320px;
        margin-left: -160px;
    }
}

.modal_form .modal_close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7.5px;
    right: 5px;
    cursor: pointer;
    display: flex;
    color: #126984;
}

.modal_form button {
    background: #eff3f9;
    font-size: 12.8px;
    text-align: center;
    height: 50px;
    width: 25%;
    margin: 2.5% 20px;
    overflow: hidden;
    display: inline-block;
    font-weight: bold;
    color: #126984;
    box-shadow: -2px 5px 10px lightgray;
    outline: none;
    border: 2px solid #e8edf4;
}


@media screen and (max-width: 480px) {
    .modal_form button {
        font-size: 11px;
        width: 30%;
        margin: 2.5% 20px;
    }
}

.modal_form button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px darkgray;
    -moz-box-shadow: 0 2px 5px darkgray;
    box-shadow: 0 2px 5px darkgray;

    background-image: -webkit-linear-gradient(bottom, #eff3f9, #e8edf4);
    background-image: -moz-linear-gradient(bottom, #eff3f9, #e8edf4);
    background-image: -o-linear-gradient(bottom, #eff3f9, #e8edf4);
    background-image: -ms-linear-gradient(bottom, #eff3f9, #e8edf4);
    background-image: linear-gradient(bottom, #eff3f9, #e8edf4);
}

.modal_form button:focus {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-image: -webkit-linear-gradient(bottom, #eff3f9, #e8edf4);
    background-image: -moz-linear-gradient(bottom, #eff3f9, #e8edf4);
    background-image: -o-linear-gradient(bottom, #eff3f9, #e8edf4);
    background-image: -ms-linear-gradient(bottom, #eff3f9, #e8edf4);
    background-image: linear-gradient(bottom, #eff3f9, #e8edf4);
}

.overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.6;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}

.parity_weeks {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 25px;
    height: 70px;
}

@media screen and (max-width: 768px) {
    .parity_weeks {
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        height: 150px;
    }
}

@media print {
    .parity_weeks {
        display: none;
    }
}


.parity_weeks button {
    background: white;
    border: 1px solid #e8edf4;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    height: 60px;
    width: 17.5%;
    min-width: 170px;
    color: #126984;
    box-shadow: -2px 5px 10px lightgray;
    outline: none;
    /*border: 2px solid #eff3f9;*/
    margin: 5px 3%;
    transition: 0.15s;
}

@media screen and (max-width: 768px){
    .parity_weeks button {
        width: 55%;
        border: 2px solid #e8edf4;
        margin: 10px auto;
    }
}

@media screen and (max-width: 480px){
    .parity_weeks button {
        font-size: 14px;
    }
}

.parity_weeks button:hover {
    cursor: pointer;

    -webkit-box-shadow: 0 2px 5px darkgray;
    -moz-box-shadow: 0 2px 5px darkgray;
    box-shadow: 0 2px 5px darkgray;
}

.parity_weeks_span_now, .parity_weeks_span_next {
    display: block!important;
    font-size: 14px;
    font-weight: normal;
    margin: 6px 0 0 0;
}

@media screen and (max-width: 480px){
    .parity_weeks_span_now, .parity_weeks_span_next {
        font-size: 12px;
    }
}

.selected_week {
    /*border: 1px solid #126984!important;*/
    font-weight: bold;
    background: #e8edf4!important;
}

.whatDay {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 42px;
    font-weight: bold;
    font-size: 22px;
    color: #126984;
    border-bottom: 3px solid #126984;
    border-radius: 0;
}

.selectWhatDay {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 42px;
    font-weight: bold;
    font-size: 22px;
    color: #126984;
    border: 0;
    border-bottom: 3px solid #126984;
    border-radius: 0;
}

@media screen and (max-width: 480px){
    .whatDay {
        font-size: 18px;
    }
    .selectWhatDay {
        width: 280px;
    }
}

.divTeachers {
    margin-top: 17px;
    display: flex;
    width: 150px;
    height: 29px;
}

.divTeachers .selectWhatTeacher {
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border: 0;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

.whatTeacher {
    margin-top: 5%;
    width: 150px;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

@media screen and (max-width: 480px) {
    .divTeachers .selectWhatTeacher {
        font-size: 10px;
    }
    .whatTeacher, .divTeachers {
        width: 35%;
        font-size: 10px;
        line-height: 26px;
    }
}

.divSubgroups {
    margin-top: 17px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    width: 70px;
    height: 29px;
}

.divSubgroups .selectWhatSubgroup {
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border: 0;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

.whatSubgroup {
    margin-top: 5%;
    margin-left: 5%;
    width: 15%;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

.divHoldSubgroup {
    line-height: 26px;
    margin-top: 17px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    width: 70px;
    height: 29px;
}

.divHoldSubgroup .whatHoldSubgroup {
    width: 100%;
    height: 26px;
    line-height: 26px;
    margin: 0 0;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border: 0;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

@media screen and (max-width: 480px) {
    .whatSubgroup, .divSubgroups {
        width: 20%;
    }
    .divSubgroups .selectWhatSubgroup, .whatSubgroup, .divHoldSubgroup .whatHoldSubgroup {
        font-size: 10px;
        line-height: 26px;
    }
}

.whatCabinet {
    margin-top: 5%;
    margin-left: 5%;
    width: 25%;
    text-align: center;
    height: 26px;
    font-size: 12.8px;
    color: #126984;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

.divCabinets {
    margin-top: 17px;
    display: flex;
    width: 100px;
    height: 29px;
}

.divCabinets .selectWhatCabinet {
    width: 100%;
    text-align: center;
    height: 26px;
    
    font-size: 12.8px;
    color: #126984;
    border: 0;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

@media screen and (max-width: 480px) {
    .divCabinets {
        width: 25%;
    }
    .whatCabinet, .divCabinets .selectWhatCabinet {
        font-size: 10px;
        line-height: 26px;
    }
}

.divSubjects {
    margin-top: 28px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    min-width: 360px;
    height: 29px;
    display: flex;
}

.divSubjects .selectWhatSubject {
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border: 0;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

.whatSubject {
    width: 90%;
    height: 30px;
    line-height: 26px;
    text-align: center;
    
    font-size: 12.8px;
    color: #126984;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

@media screen and (max-width: 480px) {
    .divSubjects {
        width: 90%;
        min-width: 288px;
    }
    .whatSubject, .divSubjects .selectWhatSubject {
        font-size: 10px;
        line-height: 26px;
    }
}

.selectWhatSubject option{
    
    color: #126984;
}

.whatTime {
    width: 40%;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

.divTime {
    margin-top: 28px;
    width: 150px;
    height: 29px;
    display: flex;
}

.divTime .selectWhatTime {
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border: 0;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

.divTime .whatTimeAdd {
    margin: 0;
    line-height: 23px;
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

@media screen and (max-width: 480px) {
    .whatTime, .divTime {
        width: 35%;
    }

    .whatTime, .divTime .selectWhatTime, .divTime .whatTimeAdd {
        font-size: 10px;
        line-height: 26px;
    }
}

.whatType {
    margin-left: 5%;
    width: 15%;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

.divTypes {
    margin-top: 28px;
    margin-left: 5%;
    margin-right: 5%;
    width: 70px;
    height: 29px;
    display: flex;
}

.divTypes .selectWhatType {
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border: 0;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

@media screen and (max-width: 480px) {
    .whatType, .divTypes {
        width: 20%;
    }
    .whatType, .divTypes .selectWhatType {
        font-size: 10px;
        line-height: 26px;
    }
}

.whatParity {
    margin-left: 5%;
    width: 100px;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

.divParity {
    margin-top: 28px;
    width: 100px;
    height: 29px;
    display: flex;
}

.divParity .selectWhatParity {
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12.8px;
    color: #126984;
    border: 0;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
}

@media screen and (max-width: 480px) {
    .whatParity, .divParity {
        width: 25%;
    }
    .whatParity, .divParity .selectWhatParity {
        font-size: 10px;
        line-height: 26px;
    }
}

.redact_choice {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.redact_choice ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    height: 50px;
}

.redact_choice-not-clicked, .redact_choice-clicked {
    font-size: 22px;
    text-align: center;
    color: #126984;
    height: 50px;
    line-height: 50px;
    width: 200px;
    cursor: pointer;
    margin: 0 15px;
    display: inline-block;
}

.redact_choice-not-clicked:hover {
    background-color: #f7f8fa;
}

.redact_choice-clicked {
    background-color: #eff3f9;
    cursor: default;
    pointer-events: none;
    opacity: .7;
}

.redact_choice li a {
    font-size: 22px;
    color: #126984;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.redact_choice a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #126984; /*задаём цвет линии*/
    content: "";
    transition: width 0.4s ease-out; /*задаём время анимации*/
}
.redact_choice a:hover:after,
.redact_choice a:focus:after {
    width: 100%;
}

.redact_choice p{
    color: #126984;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.resultsTable {
    margin: 0 auto 25px;
    width: 50%;
    display: none;
}

.resultsTable #resultsTitle{
    font-size: 22px;
    font-weight: bold;
    height: 60px;
    margin: 0;
    text-align: center;
    line-height: 60px;
    color: #126984;
    border: 1px solid #e8edf4;
    background: #eff3f9;
}

.resultsTable .results {
    text-align: center;
    color: #126984;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 1px solid #e8edf4;
    border-right: 1px solid #e8edf4;
    border-bottom: 1px solid #e8edf4;
}

.resultsTable .results .infoP {
    margin-top: 25px;
    font-size: 20px;
    height: auto;
    width: 70%;
    text-align: center;
}

.resultsTable .results .infoP p {
    margin: 0;
    line-height: 30px;
    padding-left: 15px;
}

.resultsTable .results .buttonsP {
    margin-top: 25px;
    font-size: 20px;
    height: 30px;
    width: 30%;
}

.resultsTable .results .buttonsP:last-child {
    margin-bottom: 25px;
}

.resultsTable .results .buttonsP button {
    border: 0;
    color: #126984;
    background-color: #eff3f9;
    width: 30%;
    height: 30px;
    cursor: pointer;
}

.resultsTable .results button:hover {
    background-color: #e8edf4;
}

.updateInput {
    border: 0;
    border-bottom: 2px solid #e8edf4;
    color: #126984;
    height: 30px;
    font-size: 20px;
    text-align: center;
    width: 85%;
}

/*Камеры*/
.cameras {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cameras iframe{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


/*Страница авторизации*/
.autorization-page {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.autorization-page-forms {
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    width: 25%;
    min-width: 320px;
    height: 550px;
    background: white;
    border: 3px solid white;
    border-radius: 10px;
    color: #126984;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 2px 5px darkgray;
    -moz-box-shadow: 0 2px 5px darkgray;
    box-shadow: 0 2px 5px darkgray;
}

@media screen and (max-width: 480px){
    .autorization-page-forms {
        margin-top: 25px;
        height: 420px;
    }
}

.email-field-label, .password-field-label, .fullname-field-label, .username-field-label,
.password-repeat-field-label, .email-recovery-field-label {
    font-size: 18px;
    width: 100%;
    margin-top: 32px;
    display: inline-block;
    border-radius: 0;
}

.email-field-input, .password-field-input, .fullname-field-input, .username-field-input,
.password-repeat-field-input, .email-recovery-field-input, .hidden-email-field-input, .hidden-key-field-input {
    width: 100%;
    height: 40px;
    border: 0;
    border-bottom: 3px solid #e8edf4;
    border-radius: 0;
    color: #126984;
    font-size: 18px;
    margin-top: 12px;
    padding: 0 14px;
}

@media screen and (max-width: 480px){
    .email-field-label, .password-field-label, .fullname-field-label, .username-field-label,
    .password-repeat-field-label, .email-recovery-field-label {
        font-size: 14px;
        margin-top: 16px;
    }

    .email-field-input, .password-field-input, .fullname-field-input, .username-field-input,
    .password-repeat-field-input, .email-recovery-field-input, .hidden-email-field-input, .hidden-key-field-input {
        font-size: 14px;
    }
}

.aut-button {
    width: 100%;
    height: 48px;
    background: #eff3f9;
    color: #126984;
    border: 2px solid #eff3f9;
    font-size: 18px;
    margin-bottom: 15px;
    outline: none;
}

@media screen and (max-width: 480px) {
    .aut-button {
        height: 36px;
        font-size: 14px;
        margin-bottom: 10px;
    }
}

.aut-button:hover {
    background: #e8edf4;
}

.access a{
    font-size: 14px;
    color: #126984;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
 }

@media screen and (max-width: 480px) {
    .access a {
        font-size: 12px;
    }
}

.access a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: #126984; /*задаём цвет линии*/
    content: "";
    transition: width 0.4s ease-out; /*задаём время анимации*/
}

.access a:hover:after,.access a:focus:after {
    width: 100%;
}

.if-not-registered, .if-registered {
    margin: 25px auto;
    width: 25%;
    min-width: 320px;
    height: 50px;
    background: white;
    border: 3px solid white;
    border-radius: 10px;
    color: #126984;
    font-size: 16px;
    -webkit-box-shadow: 0 2px 5px darkgray;
    -moz-box-shadow: 0 2px 5px darkgray;
    box-shadow: 0 2px 5px darkgray;
}

.if-not-registered p, .if-registered p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    line-height: 25px;
}

.if-not-registered a, .if-registered a{
    font-size: 16px;
    color: #126984;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .if-not-registered, .if-registered {
        min-width: 320px;
        height: 50px;
        font-size: 14px;
    }

    .if-not-registered a, .if-registered a{
        font-size: 14px;
    }
}

.if-not-registered a:after, .if-registered a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: #126984; /*задаём цвет линии*/
    content: "";
    transition: width 0.4s ease-out; /*задаём время анимации*/
}
.if-not-registered a:hover:after,.if-not-registered a:focus:after,
.if-registered a:hover:after, .if-registered a:focus:after{
    width: 100%;
}

/*Страница регистрации*/
.registration-page {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.registration-page-forms {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 25%;
    min-width: 320px;
    height: 800px;
    background: white;
    border: 3px solid white;
    border-radius: 10px;
    color: #126984;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 2px 5px darkgray;
    -moz-box-shadow: 0 2px 5px darkgray;
    box-shadow: 0 2px 5px darkgray;
}

#title-field {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    
}

#error-field {
    border: 0;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: darkred;
    margin: 18px 0;
}

.reg-button, .recovery-button, .accept-recovery-button {
    width: 100%;
    height: 48px;
    background: #eff3f9;
    color: #126984;
    border: 2px solid #eff3f9;
    font-size: 18px;
    outline: none;
    
}

.reg-button:hover, .recovery-button:hover, .accept-recovery-button:hover {
    background: #e8edf4;
}

@media screen and (max-width: 480px) {
    .registration-page-forms {
        height: 650px;
    }

    #title-field {
        font-size: 18px;
    }

    #error-field {
        height: 30px;
        font-size: 12px;
        line-height: 30px;
    }

    .reg-button, .recovery-button, .accept-recovery-button {
        height: 36px;
        font-size: 14px;
        /*margin-bottom: 10px;*/
    }
}

/*Восстановление пароля*/
.recovery-page {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.recovery-page-forms {
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    width: 25%;
    min-width: 400px;
    height: 370px;
    background: white;
    border: 3px solid white;
    border-radius: 10px;
    color: #126984;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 2px 5px darkgray;
    -moz-box-shadow: 0 2px 5px darkgray;
    box-shadow: 0 2px 5px darkgray;
}

@media screen and (max-width: 480px) {
    .recovery-page-forms {
        margin-top: 100px;
        height: 310px;
        min-width: 320px;
    }
}

.recovery-page-forms p {
    width: 100%;
    font-size: 16px;
    text-align: justify;
    margin: 40px 0;
}

.recovery-page-forms-finish p {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin: 50px 0;
}

@media screen and (max-width: 480px) {
    .recovery-page-forms p {
        width: 100%;
        font-size: 13px;
        text-align: justify;
        margin: 27px 0;
    }
}

.recovery-page-forms-finish {
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    width: 25%;
    min-width: 400px;
    height: auto;
    min-height: 475px;
    background: white;
    border: 3px solid white;
    border-radius: 10px;
    color: #126984;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 2px 5px darkgray;
    -moz-box-shadow: 0 2px 5px darkgray;
    box-shadow: 0 2px 5px darkgray;
}

@media screen and (max-width: 480px) {
    .recovery-page-forms-finish {
        min-width: 320px;
        min-height: 410px;
    }

    .recovery-page-forms-finish p {
        font-size: 13px;
    }
}

.underline-a {
    font-size: 16px;
    font-weight: bold;
    color: #126984;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .underline-a {
        font-size: 14px;
    }
}

.underline-a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: #126984; /*задаём цвет линии*/
    content: "";
    transition: width 0.4s ease-out; /*задаём время анимации*/
}

.underline-a:hover:after,.underline-a:focus:after {
    width: 100%;
}

/*Таблица под преподавателя*/

.table-teacher-place {
    width: 100%;
    height: 665px;
    color: #126984;
    flex-wrap: wrap;
    margin-top: 35px;
}

.table-teacher-day {
    width: 118px;
    min-width: 118px;
    height: 101px;
    font-size: 16px;
    background: #eff3f9;
    color: #126984;
    border: 1.5px solid #e8edf4;
}

.table-teacher-today {
    width: 118px;
    min-width: 118px;
    height: 101px;
    font-size: 16px;
    background: #126984;
    color: #e8edf4 !important;
}

.teacher-day-name {
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    justify-content: center;
}

.teacher-today {
    margin: 7px 0;
    font-size: 12px;
}

.teacher-day-date {
    margin: 10px 0;
    font-size: 14px;
    justify-content: center;
}

.table-teacher-day-empty {
    width: 118px;
    min-width: 118px;
    height: 53px;
    background: #eff3f9;
    border: 1.5px solid #e8edf4;
}

.table-teacher-time {
    width: 118px;
    min-width: 118px;
    height: 53px;
    background: #eff3f9;
    font-size: 12.8px;
    border: 1.5px solid #e8edf4;
}

.table-teacher-group {
    text-align: center;
}

.table-teacher-cabinet {
    text-align: center;
}

.table-teacher-lesson {
    text-align: center;
    font-size: 12.8px;
    font-weight: bold;
    height: auto;
    word-wrap: break-word;
    margin: 5px 5px;
}

.table-teacher-info {
    width: 230px;
    height: 101px;
    max-width: 230px;
    font-size: 12.8px;
    color: #126984;
    border: 1.5px solid #e8edf4;
}

.table-teacher-info-lection {
    width: 230px;
    height: 101px;
    max-width: 230px;
    font-size: 12.8px;
    color: #126984;
    border: 1.5px solid #126984;
}

@media print {
    .table-teacher-time {
        color: black!important;
        font-size: 12px;
    }

    .table-teacher-today, .table-teacher-info, .table-teacher-info-lection {
        height: 85px;
        color: black!important;
        font-size: 12px;
    }

    .teacher-day-date {
        display: none;
    }

    .teacher-day-name {
        font-weight: normal;
        font-size: 14px;
    }

    .table-teacher-info-lection {
        border: 1.5px solid black;
    }

    .table-teacher-today {
        background-color: white;
        border: 1.5px solid #e8edf4;
        width: 75px;
    }

    .table-teacher-day {
        width: 75px;
        height: 85px;
        color: black!important;
        font-size: 12px;
    }

    .table-teacher-day-empty {
        width: 75px;
    }

    .table-teacher-group, .table-teacher-cabinet, .table-teacher-lesson {
        font-size: 11px;
    }

}

.please-wait {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 320px;
    background: rgba( 255, 255, 255, .8 )
                url('/images/ajax-loader-svg.svg')
                50% 50%
                no-repeat;
}

.timeTableBody.loading .please-wait {
    overflow: hidden;
}

.timeTableBody.loading .please-wait {
    display: flex;
}

.please-wait-text {
    min-width: 320px;
    height: 125px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 20px;
    color: #126984;
    text-align: center;
}

.insert-timetable {
    display: none;
    flex-direction: column;
    width: 400px;
    height: 280px;
    margin: 15px auto 0 auto;
}

.insert-timetable-button {
    text-align: center;
    width: 100px;
    cursor: pointer;
    margin: 0 auto;
}

@media print {
    .insert-timetable, .insert-timetable-button {
        display: none;
    }
}

@media screen and (max-width: 768px){
    .insert-timetable-button {
        margin: 25px auto 0;
    }
}

.insert-timetable-button i {
    color: #ccc;
    width: 100%;
    opacity: .7;
}

.insert-timetable-button i:hover {
    color: #126984;
    opacity: .8;
}

.file-error {
    color: darkred;
    text-align: center;
}

#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    outline: 2px dashed #126984;
    outline-offset: -15px;
    /*background-color: #fafafa;*/
    border: 2px solid #e8edf4;
    border-radius: 10px;
    color: #126984;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

#upload-container img {
    width: 20%;
    margin-bottom: 20px;
    user-select: none;
}

#upload-container label {
    font-weight: bold;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#upload-container div {
    position: relative;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#upload-container label.focus {
    outline: 1px solid #0078d7;
    outline: -webkit-focus-ring-color auto 5px;
}

#upload-container.dragover {
    background-color: #eff3f9;
    outline-offset: -25px;
}

.footer {
    height: 8.5%;
    min-height: 82.36px;
    border-top: 1px solid #cccccc;
    /*box-shadow: 0 2px 10px lightgrey;*/
    color: #126984;
}

.footer-info {
    display: flex;
    flex-direction: column;
    margin: 10px auto 0;
    width: 224px;
    height: 100%;
}

@media screen and (max-width: 1220px){
    .footer-info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 224px;
        height: 100%;
    }
}

.footer-text {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
}

.footer-brands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-brands a {
    text-decoration: none;
    color: #126984;
}

.are-you-sure {
    display: none;
    z-index: 5;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    color: #126984;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.are-you-sure button {
    margin: 10px 5px;
    border: 0;
    background-color: transparent;
    color: #126984;
    font-size: 20px;
}

.are-you-sure button:hover {
    background: #eff3f9;
}

.error-field-tables {
    border: 0;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: darkred;
    margin: 20px 0;
}

.invisible {
    display: none;
}
