.app {

  min-height: 100vh;
  width: 100vw;
  font-family: "San Francisco Regular", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: flex;
    width: 100%;
    max-width: 1170px;
    padding-top: 15px;
  }

  &__view {
    @include size(9);
    max-width: 1170px;
    padding-right: 15px;
  }

  &__aside {
    @include size(3);
    background-color: white;
  }
}