include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('main-footer')
  +e('text', {}) Created by <br><b>Leonid Zakharov</b> (<a href="github.com/zakharovJI">github.com/zakharovJI</a>)<br><b> Maksim Krasnopyor </b>(<a href="github.com/">github.com/</a>)<br> Powered by<b> vue.js</b> and <b>nginx</b>