include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('main-header', {t: 'header'})
  +e('content')
    +e('logo', {t: 'svg'})
      use(xlink:href="#logo")
    +e('menu-list', {t: 'menu'})
      +e('item') Горячее
      +e('item') Свежее
      +e('item') Лучшее
    +e('actions')
      +e('item')(@click="createPostStateToggle")
        +e('icon', {t: 'svg'})
          use(xlink:href="#write")
        +e('text') Написать пост
      +e('item')(@click="loginButtonClicked")
        +e('text') {{isAuthenticated ? 'Выйти' : 'Войти'}}
        +e('icon', {t: 'svg'})
          use(xlink:href="#login")