$blue: #0A2175;
$light: #F5F5F5;
$light-gray: #E5E5E5;
$gray: #969696;

$primary-blue: $blue;
$primary-font-color: black;
$secondary-font-color: $gray;
$border-color: $light-gray;
$background-color: $light;