include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('post')
  +e('post-inner')()
    +e('user', {})
      +e('image', {t: 'img'})(:src="post.img")
      +e('name', {}) {{post.author_name}}
    +e('content', {})(ref="content")
      +e('title', {}) {{post.title}}
      +e('text', {})(v-html="post.text")
    +e('actions', {})
      +e('item', {})(
        :class="{'post__item_clicked' : likeStateClicked}"
        @click="likeButtonClicked"
      )
        +e('count', {}) {{post.marksCount}}
        +e('icon', {t: 'svg'})
          use(v-if="!likeStateClicked" xlink:href="#like_inactive")
          use(v-else xlink:href="#like")
      +e('item', {})
        +e('text', {}) Поделиться
        +e('icon', {t: 'svg'})
          use(xlink:href="#share")
  +e('comments')
    +e('title', {}) Комментарии
    +e('content', {})()
      user-comment(v-for="comment in post.comments" :key="comment.id" :comment="comment")
    +e('input-wrapper', {})
      brand-input(placeholder="Введите коментарий...")