.post {
  $self: &;

  display: flex;
  min-height: 300px;

  &:not(:first-child) {
    padding-top: 15px;
  }

  &__post-inner {
    @include size(8);
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;

    & #{$self}__user {
      padding: 7px 21px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $border-color;
      height: 50px;

      & #{$self}__name {
        font-size: 14px;
        line-height: 16px;
        font-family: "San Francisco Bold", sans-serif;
        margin-bottom: 5px;
        margin-left: 10px;
      }

      & #{$self}__image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    & #{$self}__delete {
      margin-left: auto;
      width: 22px;
      height: 22px;
      color: $border-color;
      cursor: pointer;
      padding: 5px;
    }


    & #{$self}__content {
      display: flex;
      padding: 20px 20px 20px;
      flex-direction: column;
      flex: 1;

      & #{$self}__title {
        font-size: 18px;
        line-height: 16px;
        font-family: "San Francisco Bold", sans-serif;
      }

      & #{$self}__text {
        font-size: 16px;
        line-height: 16px;
        color: $secondary-font-color;
        padding-top: 10px;
        padding-right: 100px;
        white-space: normal;
      }
    }

    & #{$self}__actions {
      background-color: $background-color;
      display: flex;
      padding: 12px 20px;
      height: 40px;
      display: flex;
      align-items: center;

      & #{$self}__item {
        display: flex;
        cursor: pointer;
        align-items: center;

        &:not(:last-child) {
          margin-right: 30px;
          width: 70px;
        }

        & #{$self}__count {
          font-family: "San Francisco Bold", sans-serif;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 0.1em;
        }

        & #{$self}__text {
          font-size: 14px;
          line-height: 14px;
        }

        & #{$self}__icon {
          width: 14px;
          height: 14px;
          margin-left: 10px;
          color: inherit;
        }

        &_clicked {
          color: $primary-blue;

          & #{$self}__icon {
            width: 22px;
            height: 22px;
            margin-top: 2px;
          }
        }
      }
    }
  }

  &__comments {
    @include size(4);
    margin-left: 15px;
    border: 1px solid $border-color;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    flex: 1;

    & #{$self}__title {
      font-size: 16px;
      line-height: 17px;
      padding: 12px 14px;
      border-bottom: 1px solid $border-color;
      height: 50px;
      display: flex;
      align-items: center;
    }

    & #{$self}__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: auto;
      font-size: 16px;
      padding-top: 10px;

    }

    & #{$self}__input-wrapper {
      background-color: $background-color;
      display: flex;
      align-items: center;
      height: 40px;
      font-size: 12px;
      line-height: 12px;
      color: $gray;
    }
  }
}