include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('news-aside')
  +e('title', {}) Новости
  +e('news', {})(v-for="news in newsList")
    +e('text', {}) {{news.text}}
    +e('date', {}) {{news.date}}
  +e('button-wrapper', {})
    BrandButton(:label="'Все новости'" @click="test")