.news-aside {
  $self: &;

  display: flex;
  flex-direction: column;

  &__title {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    border-bottom: 1px solid $border-color;
  }

  & #{$self}__news {
    display: flex;
    flex-direction: column;
    padding: 20px;

    & #{$self}__text {
      font-size: 12px;
      line-height: 14px;
      color: $secondary-font-color;
    }

    & #{$self}__date {
      font-size: 8px;
      line-height: 10px;
      color: $primary-blue;
      margin-left: auto;
      padding-top: 12px;
    }
  }

  & #{$self}__button-wrapper {
    padding: 20px 55px;
  }
}