include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('user-comment')
  +e('image', {t: 'img'})(:src="comment.comm_pers_img")
  +e('content', {})
    +e('name', {}) {{name}}
    +e('text', {}) {{comment.text}}