.user-comment {
  $self: &;

  display: flex;
  width: 100%;
  padding: 10px;

  &__image {
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    & #{$self}__name {
      font-family: "San Francisco Bold", sans-serif;
      font-size: 10px;
      line-height: 7px;
      color: $secondary-font-color;
    }

    & #{$self}__text {
      font-size: 12px;
      line-height: 12px;
      padding-top: 5px;
    }
  }
}